:javascript
  var geocoder;
  var map;
  function postsNew() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 10,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
  };
  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
        document.getElementById('latitude').value = results[0].geometry.location.lat();
        document.getElementById('longitude').value = results[0].geometry.location.lng();
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      };
    });
  };
%section
  %h2
    投稿する
  = render 'layouts/form', post: @post
- if (request.url =~ /\/posts\/new/)
  %script{src: "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.api[:google_maps_api_key]}&callback=postsNew", async: '', defer: 'defer'}

  / When the form above doesn't work properly, use this form below.
  -# = form_with model: @post, local: true do |f|
  -#   = f.file_field :photo, placeholder: '写真'
  -#   = f.text_field :name, placeholder: '鳥の名前を入力'
  -#   = raw sprintf(f.date_select(:date, start_year: (Time.now.year), end_year: (Time.now.year - 100), default: Date.new(Time.now.year), prompt: "--", use_month_numbers: true, date_separator: '%s'),'年 ', '月 ') + '日'
  -#   = f.text_field :location, placeholder: '例）大阪府'
  -#   = f.submit '送信'