.object {
  margin-top: 20px;

  &__property {
    margin-top: 10px;

    input[type='file'] {
      cursor: pointer;
    }
    
    input[type='text'] {
      border: solid 1px #ccc;
      width: 200px;
      height: 30px;
      padding-left: 10px;
      border-radius: 4px;
    }
    
    select {
      border: solid 1px #ccc;
      width: 60px;
      height: 30px;
      padding-left: 10px;
      border-radius: 4px;
    }

    input[type='submit'] {
      width: 60px;
      height: 30px;
      border-radius: 4px;
      background: -moz-linear-gradient(top, rgb(88, 248, 96), rgb(188, 253, 191));
      background: -webkit-linear-gradient(top, rgb(88, 248, 96), rgb(188, 253, 191));
      background: liner-gradient(to bottom, rgb(88, 248, 96), rgb(188, 253, 191));
      cursor: pointer;
    }
    
    input[type='submit']:hover {
      background: -moz-linear-gradient(top, rgb(127, 248, 133), rgb(224, 253, 226));
      background: -webkit-linear-gradient(top, rgb(127, 248, 133), rgb(224, 253, 226));
      background: liner-gradient(to bottom, rgb(127, 248, 133), rgb(224, 253, 226));
    }

  }

}