// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin nav {
  background-color: rgb(83, 255, 64);
  height: 50px;
  //background: -webkit-linear-gradient(top, rgb(54, 255, 32), rgb(192, 255, 188));
  //background: linear-gradient(to bottom, rgb(54, 255, 32), rgb(192, 255, 188)); 
}
@mixin ul {
  display: flex;
}
@mixin li {
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  color: #181717;
}
@mixin li_hover {
  background-color: rgb(174, 255, 167);
  //background: -webkit-linear-gradient(top, rgb(54, 255, 32), rgb(234, 255, 232));
  //background: linear-gradient(to bottom, rgb(54, 255, 32), rgb(234, 255, 232));
  color:#464444;
}
@mixin aside_map_information_background {
  background-color: rgb(236, 255, 232);
}
@mixin usual_link {
  a {
    color: rgb(16, 102, 199);
  }
  a:hover {
    color: rgb(86, 136, 194);
    text-decoration: underline;
  }
}
* {
  text-decoration: none;
  font-family: 'Hiragino Kaku Gothic ProN', sans-serif;
}
body {
background-color: rgb(200, 201, 200);
}
.wrapper {
  width: auto;
  margin: auto;
  .top_container {
    background-color: rgb(200, 201, 200);
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    header {
      width: 300px;
      background-color: rgb(162, 255, 153);
      h1 {
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 1.5em;
        font-family: 'HanziPen SC',sans-serif;
        //font-style: italic;
        color: rgb(0, 0, 0);
        justify-content: center;
        span {
          font-size: 0.8em;
          padding-top: 5px;
        }
      }
    }
    nav {
      @include nav;
      ul {
        @include ul;
        li {
          @include li;
        }
        li:hover {
          @include li_hover;
        }
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 70px 0 20px;
    width: 1200px;
    //.left_aside {
    //  width: 200px;
    //  padding: 20px;
    //  box-sizing: border-box;
    //  @include aside_map_information_background;
    //  h3 {
    //    font-size: 16px;
    //    margin-bottom: 10px;
    //  }
    //  li::before {
    //    display: inline-block;
    //    content: '';
    //    width: 8px;
    //    height: 8px;
    //    border-radius: 50%;
    //    background-color: rgb(15, 235, 33);
    //  }
    //  form {
    //    display: inline;
    //    input[type='submit'] {
    //      background: transparent;
    //      border: none;
    //      font-size: 12px;
    //      cursor: pointer;
    //      margin: 3px 0;
    //      padding:0;
    //      border-bottom: dashed 1px transparent;
    //    }
    //    input[type='submit']:hover {
    //      border-bottom: dashed 1px rgb(77, 77, 77);
    //    }
    //  }
    //}
    main {
      background-color: #fff;
      border-radius: 6px;
      width: 770px;
      section {
        @include usual_link;
        margin: 20px;
        box-sizing: border-box;
        h2 {
          width: 30%;
          margin-bottom: 30px;
          font-size: 20px;
          border-bottom: solid 3px rgb(6, 216, 17);
        }
        h3 {
          margin-bottom: 30px;
          padding-left: 7px;
          font-size: 18px;
          border-left: solid 10px rgb(6, 216, 17);
        }
        p {
          margin: 10px 0;
        }
        .highlight {
          background-color:yellow;
        }
        .search_result {
          height: 30px;
        }
        .search_form {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .search_field {
            border: solid 1px #ccc;
            width: 200px;
            height: 30px;
            padding-left: 10px;
            border-radius: 4px;
          }
          input[type='submit'] {
            width: 60px;
            height: 30px;
            border-radius: 4px;
            background: -moz-linear-gradient(top, rgb(243, 243, 243), rgb(255, 255, 255));
            background: -webkit-linear-gradient(top, rgb(243, 243, 243), rgb(255, 255, 255));
            background: liner-gradient(to bottom, rgb(243, 243, 243), rgb(255, 255, 255));
            cursor: pointer;
            margin-left: 10px;
          }
          input[type='submit']:hover {
            background: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(255, 255, 255));
            background: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(255, 255, 255));
            background: liner-gradient(to bottom, rgb(252, 252, 252), rgb(255, 255, 255));
          }
        }
        .photo_list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          &__photo:nth-child(n+3) {
            margin-top: 35px;
          }
          &__photo {
            width: 236px;
            line-height: 23px;
            .adjustment {
              width: 236px;
              height: 177x;
              background-color: rgb(124, 124, 124);
            }
            img {
              width: 236px;
              height: 177x;
              object-fit: contain;
            }
            span {
              font-weight: bold;
            }
          }
        }
        .pagination_style {
          line-height: 50px;
          text-align: center;
        }
        .notice {
          height: 16px;
          color: rgb(255, 0, 0);
        }
        .user_photo {
          line-height: 30px;
          font-size: 18px;
          &__photo_detail {
            box-sizing: border-box;
            width: 720px;
            height: 540px;
            margin: 0 auto 20px;
            border: 16px ridge rgb(95, 52, 3);
            background-color: #9e9e9e;
            img {
              width: 688px;
              height: 508px;
              object-fit: contain;
            }
          }
          #user_map_info {
            width: 500px;
            height: 300px;
          }
        }
        .object {
          margin-top: 20px;
          &__property {
            margin-top: 10px;
            input[type='file'] {
              cursor: pointer;
            }
            select {
              border: solid 1px #ccc;
              height: 30px;
            }
            .location_selection {
              margin: 10px 0;
              display: flex;
              align-items: center;
              input[type='textbox'] {
                width: 250px;
                height: 30px;
                border: solid 1px #ccc;
                border-radius: 4px;
                padding-left: 10px;
              }
              input[type='button'] {
                width: 60px;
                height: 30px;
                cursor: pointer;
                border-radius: 4px;
                margin-left: 10px;
              }
            }
            #map {
              width: 400px;
              height: 250px;
            }
            textarea {
              border: solid 1px #ccc;
              border-radius: 4px;
              width: 400px;
              height: 100px;
            }
            &__button_for_posting_photo {
              width: 60px;
              height: 30px;
              border-radius: 4px;
              background: -moz-linear-gradient(top, rgb(88, 248, 96), rgb(188, 253, 191));
              background: -webkit-linear-gradient(top, rgb(88, 248, 96), rgb(188, 253, 191));
              background: liner-gradient(to bottom, rgb(88, 248, 96), rgb(188, 253, 191));
              cursor: pointer;
            }
            &__button_for_posting_photo:hover {
              background: -moz-linear-gradient(top, rgb(127, 248, 133), rgb(224, 253, 226));
              background: -webkit-linear-gradient(top, rgb(127, 248, 133), rgb(224, 253, 226));
              background: liner-gradient(to bottom, rgb(127, 248, 133), rgb(224, 253, 226));
            }
          }
        }
        .comment {
          width: 500px;
          li {
            margin: 10px 0;
            padding: 5px;
            border-radius: 4px;
            border: solid 2px transparent;
            span {
              color: rgb(148, 148, 148);
            }
            .editing_deleting_room {
              height: 16px;
            }
          }
          .advice_comment {
            border: solid 2px bisque;
          }
          .remark {
            height: 14px;
            text-align: right;
            font-style: italic;
            font-size: 14px;
            color: rgb(85, 85, 85);
          }
        }
      }
    }
  }
    .right_aside {
      //@include aside_map_information_background;
      background-color: #fff;
      border-radius: 6px;
      @include usual_link;
      width: 400px;
      p {
        margin-top: 15px;
        text-align: center;
      }
      h3 {
        margin: 15px 0;
        text-align: center;
        font-size: 18px;
      }
      #map_info {
        width: 400px;
        height: 400px;
      }
      li {
        margin: 20px;
      }
    }
  footer {
    background-color: rgb(92, 92, 92);
    .to_top {
      position: fixed;
      right: 0;
      bottom: 0;
      width: 80px;
      height: 80px;
      cursor: pointer;
      background-color: white;
      #eye_close {
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
      }
      #eye_open {
        display: none;
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    //nav {
    //  @include nav;
    //  ul {
    //    @include ul;
    //    li {
    //      @include li;
    //    }
    //    li:hover {
    //      @include li_hover;
    //    }
    //  }
    //}
    .copyright {
      color: rgb(165, 165, 165);
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: 0.8em;
        padding-top: 3px;
      }
    }
  }
}