input[type='email'] {
  border: solid 1px #ccc;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
}

input[type='password'] {
  border: solid 1px #ccc;
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
}