.user_photo_list {
  display: flex;
  flex-wrap: wrap;

  &__photo:nth-child(3n+1) {
    margin-left: 0;
  }

  &__photo:nth-child(n+4) {
    margin-top: calc(56px / 2);
  }

  &__photo {
    width: 248px;
    margin-left: calc(56px / 2);
    line-height: 18px;

    img {
      width: 248px;
      height: 186px;
      object-fit: contain;
      background-color: rgb(124, 124, 124);
    }

    span {
      font-weight: bold;
    }
  
  }

}