// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin nav{
  width: 100%;
  height: 50px;
  background: -moz-linear-gradient(top, rgb(97, 238, 84), #d3f3d1);
  background: -webkit-linear-gradient(top, rgb(97, 238, 84), #d3f3d1);
  background: linear-gradient(to bottom, rgb(97, 238, 84), #d3f3d1); 
}

@mixin ul{
  line-height: 50px;
  display: flex;
}

@mixin li {
  padding: 0 30px;
  color: #181717;
}

@mixin li_hover {
  background: -moz-linear-gradient(top, rgb(129, 247, 119), #d3f3d1);
  background: -webkit-linear-gradient(top, rgb(129, 247, 119), #d3f3d1);
  background: linear-gradient(to bottom, rgb(129, 247, 119), #d3f3d1);
  color:#2b2a2a;
}

* {
  text-decoration: none;
}

.wrapper {
  width: 1440px;

  header {
    line-height: 100px;
    background-color: rgb(175, 238, 117);

    h1 {
      font-size: 1.5em;
      color: black;
      padding-left: 20px;
    }

    span {
      font-size: 0.8em;
    }

  }

  nav {
    @include nav;

    ul {
      @include ul;

      li {
        @include li;
      }

      li:hover {
        @include li_hover;
      }

    }

  }

  main {
    display: flex;

    aside {
      width: 200px;
      height: 100vh;
      background-color: rgb(202, 201, 199);
    }

    article {
      width: calc(100% - 600px);
      padding: 20px;
      box-sizing: border-box;

      section {

        a {
          color: rgb(16, 102, 199);
        }
      
        a:hover {
          color: rgb(86, 136, 194);
          text-decoration: underline;
        }
      
        .photo_list {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        
          li {
            width: 376px;
            height: auto;
          
            img {
              width: 376px;
              height: 276px;
              object-fit: contain;
              background-color: rgb(124, 124, 124);
            }

            span {
              font-weight: bold;
            }
          
          }
        
        }

        .pagination_style {
          line-height: 50px;
          text-align: center;
        }

        .photo_detail {
          box-sizing: border-box;
          width: 720px;
          height: 540px;
          margin: auto;
          border: 16px ridge rgb(95, 52, 3);
          background-color: #9e9e9e;
  
          img {
            width: 688px;
            height: 508px;
            object-fit: contain;
          }
          //background-color: rgb(68, 67, 67);
          //background-size: contain;
          //background-position: center center;
          //background-repeat: no-repeat;
        }

      }
    
    }

    .map_information {
      background-color: rgb(189, 184, 184);
      width: 400px;
      height: 400px;
    }

  }

  footer {
    height: 150px;
    background-color: rgb(143, 140, 136);
    text-align: center;

    nav {
      @include nav;
    
      ul {
        @include ul;
      
        li {
          @include li;
        }
      
        li:hover {
          @include li_hover;
        }
      
      }
    
    }

    .copyright {
      height: 100px;
      line-height: 100px;

      span {
        font-size: 0.8em;
      }

    }

  }

}