.search_form {
  text-align: right;

    input[type='text'] {
      border: solid 1px #ccc;
      width: 200px;
      height: 30px;
      padding-left: 10px;
      border-radius: 4px;
    }

    input[type='submit'] {
      width: 60px;
      height: 30px;
      border-radius: 4px;
      background: -moz-linear-gradient(top, rgb(243, 243, 243), rgb(255, 255, 255));
      background: -webkit-linear-gradient(top, rgb(243, 243, 243), rgb(255, 255, 255));
      background: liner-gradient(to bottom, rgb(243, 243, 243), rgb(255, 255, 255));
      cursor: pointer;
    }
    
    input[type='submit']:hover {
      background: -moz-linear-gradient(top, rgb(252, 252, 252), rgb(255, 255, 255));
      background: -webkit-linear-gradient(top, rgb(252, 252, 252), rgb(255, 255, 255));
      background: liner-gradient(to bottom, rgb(252, 252, 252), rgb(255, 255, 255));
    }

}

p {
  line-height: 26px;
}