%footer
  .to_top
    = image_tag 'to_top_bird_eye_close_2.png', alt: 'トップへ', id: 'eye_close'
    = image_tag 'to_top_bird_eye_open_2.png', alt: '移動中', id: 'eye_open'
  .copyright
    Copyright 2019 トリーポッ
    %span> ス
    ター