%aside.right_aside
  #map
/%script
/  console.log('hohoho');
/  function initMap(){
/  let map = new google.maps.Map(document.getElementById('map'), {
/  center: {lat: 34.66373, lng: 135.500927},
/  zoom: 10
/  });
/  }
/%script{src: "https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ZphzG8WCnD0II3UFAQExNJNleFsE1nk&callback=initMap", defer: 'defer'}
